In [325]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
import sklearn.metrics as metrics

import numpy as np
import pandas as pd

In [326]:
#part A)
df = pd.read_csv("https://raw.githubusercontent.com/lilpozerz/AMDStock/main/Amd%20Data%20sheet%20-%20Sheet1%20(1).csv")
df[0::10]
df.size

9940

In [327]:
#Data that  has been parsed and cleaned up
#Had to create a moving average for 50 day and 100 day. It requres calculation of previous days and finding the average
#increase is based on CLose-Open= if it equals positive its a true on increase
#AMD news is based on press release released by amd on their site. I had to manual add this in cause no site has this information parsed
#quarterly earning is also gather by searching the web for this release date
df

,Date,Open,High,Low,Close,Adj Close,Volume,close-open,increase yes or no,increase yes or no (1 or 0),50day moving average,50 moving day average,50 moving day average (1 or 0),100 day moving average,100 day moving average beat,100 day moving average (1 or 0),AMD News,AMD News (1 or 0),Quarterly earnings,Quarterly earnings (1 or 0)
0,2018-12-11,20.709999,21.139999,19.690001,19.980000,19.980000,88027400,-0.729999,no,0,22.4464,Yes,1,26.7160,Yes,1,No,0,No,0
1,2018-12-12,20.320000,21.020000,19.709999,20.480000,20.480000,100340700,0.160000,yes,1,22.2276,Yes,1,26.5923,Yes,1,No,0,No,0
2,2018-12-13,20.629999,20.870001,19.760000,19.860001,19.860001,88108300,-0.769998,no,0,22.0444,Yes,1,26.4560,Yes,1,No,0,No,0
3,2018-12-14,19.580000,20.700001,19.520000,19.900000,19.900000,84713600,0.320000,yes,1,21.8738,Yes,1,26.3139,Yes,1,No,0,No,0
4,2018-12-17,20.010000,20.020000,18.639999,18.830000,18.830000,115437900,-1.180000,no,0,21.6948,Yes,1,26.1655,Yes,1,No,0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,2020-11-23,85.519997,87.540001,84.620003,85.309998,85.309998,46505000,-0.209999,no,0,81.1096,No,0,77.6810,No,0,No,0,No,0
493,2020-11-24,85.720001,86.110001,83.320000,85.070000,85.070000,36839200,-0.650001,no,0,81.2324,No,0,77.9977,No,0,No,0,No,0
494,2020-11-25,85.760002,87.839996,85.519997,86.709999,86.709999,41349700,0.949997,yes,1,81.4334,No,0,78.3355,No,0,No,0,No,0
495,2020-11-27,87.989998,88.000000,86.360001,87.190002,87.190002,22717600,-0.799996,no,0,81.6462,No,0,78.6731,No,0,No,0,No,0
496,2020-11-30,87.330002,92.739998,86.529999,92.660004,92.660004,84483000,5.330002,yes,1,82.0008,No,0,79.0271,No,0,No,0,No,0

In [328]:
#creating the Colunms for important data to use

In [329]:
feature_cols = ['50 moving day average (1 or 0)','Volume','100 day moving average (1 or 0)','AMD News (1 or 0)','Quarterly earnings (1 or 0)']
X = df[feature_cols]
X.head()

,50 moving day average (1 or 0),Volume,100 day moving average (1 or 0),AMD News (1 or 0),Quarterly earnings (1 or 0)
0,1,88027400,1,0,0
1,1,100340700,1,0,0
2,1,88108300,1,0,0
3,1,84713600,1,0,0
4,1,115437900,1,0,0

In [330]:
#created the label based on if the stock increased or did not increase

In [331]:
y = df['increase yes or no (1 or 0)']
y[::25]

0      0
25     1
50     0
75     0
100    0
125    1
150    0
175    1
200    0
225    1
250    0
275    1
300    0
325    1
350    1
375    1
400    1
425    0
450    1
475    1
Name: increase yes or no (1 or 0), dtype: int64

In [343]:
#calling all the classifers
my_logreg = LogisticRegression()
my_decisiontree = DecisionTreeClassifier()
knn = KNeighborsClassifier(n_neighbors=4)
my_RandomForest = RandomForestClassifier()
my_linreg = LinearRegression()

In [344]:
#seting up train set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=5)

In [345]:
# training sets

knn.fit(X_train, y_train)
my_logreg.fit(X_train, y_train)
my_RandomForest.fit(X_train, y_train)
my_decisiontree.fit(X_train, y_train)
my_linreg.fit(X_train, y_train)

LinearRegression()

In [346]:
#Training
y_predict_lor = my_logreg.predict(X_test)
y_predict = knn.predict(X_test)
y_predict_dt = my_decisiontree.predict(X_test)
y_predict_rt = my_RandomForest.predict(X_test)
y_predict_LR = my_linreg.predict(X_test)

In [347]:
#accuracy of the perdiction
from sklearn.metrics import accuracy_score

score_lor = accuracy_score(y_test, y_predict_lor)
score_dt = accuracy_score(y_test, y_predict_dt)
accuracy = accuracy_score(y_test, y_predict)
score_rt = accuracy_score(y_test,y_predict_rt)
y_predict_LR = my_linreg.predict(X_test)
mse = metrics.mean_squared_error(y_test, y_predict_LR)
rmse = np.sqrt(mse)
print("Linear Regression",rmse)
print('LogisticRegression: ',score_lor)
print("Decision Tree: ",score_dt)
print("Random Forest: ",score_rt)
print("knn: ",accuracy)

Linear Regression 0.5000987293110674
LogisticRegression:  0.488
Decision Tree:  0.504
Random Forest:  0.552
knn:  0.448

In [348]:
#Cross validation of all Classifers

In [349]:
accuracy_list = cross_val_score(my_logreg, X, y, cv=10, scoring='accuracy')
accuracy_cv = accuracy_list.mean()
print("Logistic Regression: ",accuracy_cv)

Logistic Regression:  0.5191020408163267

In [350]:
accuracy_list = cross_val_score(my_RandomForest, X, y, cv=10, scoring='accuracy')
accuracy_cv = accuracy_list.mean()

print("Random Forest: ",accuracy_cv)

Random Forest:  0.4767755102040817

In [351]:
accuracy_list = cross_val_score(knn, X, y, cv=10, scoring='accuracy')
accuracy_cv = accuracy_list.mean()

print("KNN: ",accuracy_cv)

KNN:  0.4807346938775511

In [352]:
accuracy_list = cross_val_score(my_decisiontree, X, y, cv=10, scoring='accuracy')
accuracy_cv = accuracy_list.mean()

print("decisiontree: ",accuracy_cv)

decisiontree:  0.474530612244898

In [342]:
mse_list = cross_val_score(my_linreg, X, y, cv=10, scoring='neg_mean_squared_error')
mse_list_positive = -mse_list
rmse_list = np.sqrt(mse_list_positive)
print("Linear Regression: ",rmse_list.mean())

Linear Regression:  0.500773758491541