In [1]:
#Installs and Yahoo Data grab

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
plt.style.use("fivethirtyeight")
%matplotlib inline

# For reading stock data from yahoo
from pandas_datareader.data import DataReader

# For time stamps
from datetime import datetime

In [22]:
# The tech stocks we'll use for this analysis
            #Apple, GameStop, S&P,   AMD,  CocaCola, DOGE
tech_list = ['AAPL', 'GME', '^GSPC', 'AMD', 'KO', 'DOGE-USD']

# Set up End and Start times from start of Covid
end = datetime.now()
start = datetime(2019, 1, 22)


#For loop for grabing yahoo finance data and setting as a dataframe
for stock in tech_list:   
    # Set DataFrame as the Stock Ticker
    globals()[stock] = DataReader(stock, 'yahoo', start, end)

In [17]:
from sklearn import preprocessing
prep = preprocessing.LabelEncoder()
prep.fit(tech_list)

LabelEncoder()

In [26]:
company_list = [AAPL, GME, AMD, KO, DOGE-USD]
company_name = ["APPLE", "GameStop", "Advanced Micro Devices","Coca-Cola", "Doggy"]

for company, com_name in zip(company_list, company_name):
    company["company_name"] = com_name
    
df = pd.concat(company_list, axis=0)
df

SyntaxError: invalid syntax (<ipython-input-26-bda989a1d35c>, line 1)

In [8]:
GME.describe()

,High,Low,Open,Close,Volume,Adj Close
count,574.000000,574.000000,574.000000,574.000000,5.740000e+02,574.000000
mean,27.859251,22.496219,25.283397,24.741098,1.038053e+07,24.716384
std,61.826775,46.204120,54.638808,52.242546,2.009154e+07,52.248585
min,2.940000,2.570000,2.850000,2.800000,1.282000e+06,2.800000
25%,4.710000,4.360000,4.540000,4.525000,3.071150e+06,4.525000
50%,6.195000,5.830000,6.015000,6.035000,4.552550e+06,6.035000
75%,11.867500,11.357500,11.615000,11.577500,8.538125e+06,11.279793
max,483.000000,262.269989,379.709991,347.510010,1.971579e+08,347.510010